.App {
  text-align: center;
}
.back{
  position: fixed;
  width: 100%;
  z-index: -10;
}

.header{
  font-size: 3rem;
 font-weight: bold;
 color: #fff;
}
::-webkit-scrollbar {
  width:4px;

}
::-webkit-scrollbar-track {
  background:transparent; 
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.616); 
  border-radius: 10px;
}

